.head-menu {
    display: inline-block;
    position: relative; 
}

.head-menu > ul {
    z-index: 1;
    list-style-type: none; 
    position: absolute; 
    margin: 0; 
    padding: 0; 
    top: 46px; 
    left: 7px; 
    display: none; 
    background: #fff;
}

.head-menu > ul > li > a {
    width: 100%;
    margin: 5px auto;
}

.head-menu:hover > ul {
    display: inline-block;
}

#sidebar-nav{
    width: 200px;
    overflow: hidden;
}